$gold-1: #ddc64c;
$gold-2: #b19c2d;
$gold-3: #a18e29;

$green-1: #203a27;
$green-2: #132318;
$green-3: #0d1810;
$green-4: #09110b;
$white: #ffffff;

div.head {
  background-color: aliceblue;
  width: 100%;
  height: 40vh;
  h1 {
    background-color: wheat;
    text-align: center;
    line-height: 40vh;
  }
}
div.contin {
  margin: 48px;
display: flex;
  position: relative;
  div.right{
    width: 50%;
    div.box1{
        width: 432px;
        height: 432px;
background-color: white;
    }
    div.box2{
        background-color: #203A27;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 15%;
        right: 20%;
        font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
        font-size: 20px;
    }
    }
  }
  div.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    div.lo{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        
        div:nth-of-type(1){
            width: 50%;
            text-align: justify;
            div{
                display: flex;
                flex-direction: row;
                img{
                    width: 90px;
                    height: 90px;
                    object-fit: contain;
                    border-radius: 50%;
                }
                div{
                    width: 80%;
                    p{
                        width: 200px;
                    }
                    
                }
            }
        }
        div:nth-of-type(2){
            width: 40%;
            text-align: justify;

        }
    }
  }
}
div.slides{
    background-color: rgba(95, 158, 160, 0.277);
    width: 100%;
    height: 318px;
}
div.beauty{

    h3{
        color: white;
        background-color: #203A27;
        padding: 4px 16px;
        width: fit-content;
        margin-right: 64px;
        position: absolute;
    }

div{
display: flex;
flex-direction:row ;

    div{
        background-color: #203A27;
        margin: 48px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        h5{
            color: white;
        }
    }
}
}

body {
    background-color: $green-3;
}

div.step{
    div{
        background-color: $green-1;
    }
}