$gold-1: #ddc64c;
$gold-2: #b19c2d;
$gold-3: #a18e29;

$green-1: #203a27;
$green-2: #132318;
$green-3: #0d1810;
$green-4: #060c08;
$white: #ffffff;


div.header{
    position: relative;
    height: 400px;
    background-color: #a4a4a4;
    margin-bottom: 140px;
    div:nth-child(1){
        height: fit-content;
        background-color: $green-1;
        color: white;
        position: absolute;
        transform: translate(50%);
        bottom: -20%;
        right: 50%;
        p{
            font-size: 14px;
            text-align: justify;
        }
    }
}

