$gold-1: #ddc64c;
$gold-2: #b19c2d;
$gold-3: #a18e29;

$green-1: #203a27;
$green-2: #132318;
$green-3: #0d1810;
$green-4: #09110b;
$white: #ffffff;

div.teammate{
    position: relative;
    background-color: $green-1;
    height: fit-content;
    div::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
    div{
        height: 100%;

        div{
            width: 318px;
            height: 318px;
            background-color: white;
        }
        div:nth-child(even){
            background-color: #444444;
        }
    }
}